<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Preview
    </title>
    <%- include('./partials/style'); %>

        <style>
            .box {
                display: flex;
                gap: .5rem;
            }

            .container {
                flex-grow: 1;
            }
        </style>
</head>

<body>
    <div class="box">
        <div class="container">
            <h1>Generate Giveaway Form</h1>
            <form id="previewForm">

                <input required type="text" name="heading" placeholder="Heading">
                <textarea rows="5" required name="description" placeholder="Description"></textarea>
                <input required type="text" name="button" placeholder="Button text">
                <textarea rows="5" required name="success" placeholder="Success Message"></textarea>

                <button type="submit">
                    Preview
                </button>
            </form>
        </div>

        <div id="preview" class="container">
            <textarea readonly rows="5" required name="code" placeholder="Embed Code"></textarea>

        </div>
    </div>

    <script>

        const form = document.querySelector("#previewForm");
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            const data = new FormData(e.target);
            const queryParams = [...data.entries()].map(([key, val]) => `${key}=${encodeURIComponent(val)}`).reduce((prev, current) => prev ? prev + "&" + current : current);
            const url = `${window.location.origin}/?${queryParams}`;

            const codeDisplay = document.querySelector("textarea[name='code']");

            const code = `<iframe frameBorder="0" width="100%" height="350px" src="${url}">`
            codeDisplay.value = code;
            const previewContainer = document.querySelector("#preview");
            const oldFrame = document.querySelector("#preview > iframe");
            if (oldFrame)
                previewContainer.removeChild(oldFrame);
            const ifrm = document.createElement("iframe");
            ifrm.setAttribute("src", url);
            ifrm.style.width = "100%";
            ifrm.style.height = "350px";
            previewContainer.appendChild(ifrm);

        });

    </script>

</body>

</html>