<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Success
    </title>
    <%- include('./partials/style'); %>
</head>

<body>

    <div class="container">

        <h1>
            Completed!
        </h1>
        <p>
            <%= message ? message:"Please check you email for further instructions" %>
        </p>
    </div>
</body>

</html>